@model RentalFormViewModel
@{
    
    var title = Model.CurrentCopies.Any() ? "Edit" : "Add";
    ViewData["Title"] = $"{title} Rental";
}
<!--begin::Card-->
<div class="card mb-7">
    <div class="card-header">
        <h3 class="card-title">@title Rental</h3>
    </div>
    <partial name="_SearchRentals" model="new SearchFormViewModel()" />
    <div class="card mb-5 mb-xl-8">
        <!--begin::Header-->
        <div class="card-header border-0 pt-5">
            <h3 class="card-title align-items-start flex-column">
                <span class="card-label fw-bold text-gray-900">Books</span>

                <span class="text-muted mt-1 fw-semibold fs-7">yuo can add up to @Model.MaxAllowedCopies book(s)</span>
            </h3>
        </div>
        <!--end::Header-->
        <!--begin::Body-->
        <div class="card-body pt-5">
            <form id="CopiesForm" asp-controller="Rentals">
                <input type="hidden" asp-for="SubscriberKey" />

                @foreach(var copy in Model.CurrentCopies)
                {
                    <partial name="_CopyDetails" model="copy" />
                }

                <button type="submit" class="btn btn-sm btn-primary d-none">
                    <!--begin::Indicator label-->
                    <span class="indicator-label">Save</span>
                    <!--end::Indicator label-->
                    <!--begin::Indicator progress-->
                    <span class="indicator-progress">
                        Please wait...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                    <!--end::Indicator progress-->
                </button>
            </form>
        </div>
        <!--end::Body-->
    </div>
</div>
<!--end::Card-->
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script>
        var maxAllowedCopies = @Model.MaxAllowedCopies
    </script>
    <script src="~/js/rental-form.js" asp-append-version="true"></script>
}