html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/*start override theme*/
.form-floating > .form-select {
    padding-bottom: .225rem;
}
.page-bg {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../assets/images/page-bg.jpg);
}
@media only screen and (min-width: 1025px) {
    .launcher .sidebar {
        position: fixed;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        width: 425px;
        top: 50px;
        right: 50px;
        bottom: 50px;
        background-color: rgba(19,0,97,.3);
        border-radius: 1.75rem;
    }
}
.transform-x{
    transform:scaleX(-1)
}
.twitter-typeahead{
    width:100%;
}
.tt-suggestion{
    font-size :14px;
}
/*start override theme*/