@model BookFormViewModel
@{
    ViewData["Title"] = "Book Form";
}
<div class="alert bg-light-primary border border-primary border-3 border-dashed d-flex justify-content-between w-100 p-5 mb-10 m">
    <div class="d-flex align-items-center">
        <div class="symbol symbol-35px me-2">
            <div class="symbol-label fs-2 fw-semibold text-success">
                <!--begin::Svg Icon | path: icons/duotune/general/gen002.svg-->
                <span class="svg-icon svg-icon-2 svg-icon-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor" class="mdl-js"><path d="M480-160q-48-38-104-59t-116-21q-42 0-82.5 11T100-198q-21 11-40.5-1T40-234v-482q0-11 5.5-21T62-752q46-24 96-36t102-12q58 0 113.5 15T480-740v484q51-32 107-48t113-16q36 0 70.5 6t69.5 18v-480q15 5 29.5 10.5T898-752q11 5 16.5 15t5.5 21v482q0 23-19.5 35t-40.5 1q-37-20-77.5-31T700-240q-60 0-116 21t-104 59Zm80-200v-380l200-200v400L560-360Zm-160 65v-396q-33-14-68.5-21.5T260-720q-37 0-72 7t-68 21v397q35-13 69.5-19t70.5-6q36 0 70.5 6t69.5 19Zm0 0v-396 396Z" /></svg>
                </span>
                <!--end::Svg Icon-->
            </div>
        </div>
        <div class="d-flex flex-column pe-0 pe-sm-10">
            <h5 class="mb-1">
                @(Model.Id.Equals(0) ? "Add" : "Edit")Books
            </h5>
        </div>
    </div>
</div>
<div class="card shadow-sm">
    <div class="card-body">
        <form method="post" asp-controller="Books" enctype="multipart/form-data">
            @if (Model.Id > 0)
            {
                <input type="hidden" asp-for="Id" />
            }
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-5">
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" placeholder="Title" asp-for="Title" />
                            <label asp-for="Title"> </label>
                        </div>
                        <span asp-validation-for="Title" class="text-danger d-block"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="mb-5">
                        <div class="form-floating mb-2">
                            <select class="form-select" asp-for="AuthorId" asp-items="@Model.Author"><option value="">Select Author</option> </select>
                            <label asp-for="AuthorId"> </label>
                        </div>
                        <span asp-validation-for="AuthorId" class="text-danger d-block"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="mb-5">
                        <div class="mb-2">
                            <select class="form-select" asp-for="SelectedCategories" asp-items="@Model.Categories"><option>Select Categories</option> </select>
                            <label asp-for="SelectedCategories"> </label>
                        </div>
                        <span asp-validation-for="SelectedCategories" class="text-danger d-block"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="mb-5">
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" placeholder="publisher" asp-for="publisher" />
                            <label asp-for="publisher"> </label>
                        </div>
                        <span asp-validation-for="publisher" class="text-danger d-block"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="mb-5">
                        <div class="form-floating mb-2">
                            <input type="date" class="form-control" placeholder="publishingDate" asp-for="publishingDate" />
                            <label asp-for="publishingDate"> </label>
                        </div>
                        <span asp-validation-for="publishingDate" class="text-danger d-block"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="mb-5">
                        <div>
                            <img id="imgpreview" src="~/imges/books/@(Model.ImageUrl is null ? "no-book.jpg" : Model.ImageUrl)" class="img-thumbnail" alt="Book Imge" />
                        </div>
                        <div class="form-floating mb-2">
                            <input type="file" class="form-control" placeholder="Image" asp-for="Image" accept=".png,.jpeg,.jpg"
                                   onchange="document.getElementById('imgpreview').src=window.URL.createObjectURL(this.files[0])" />
                            <label asp-for="Image"> </label>
                        </div>
                        <span asp-validation-for="Image" class="text-danger d-block"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="mb-5">
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" placeholder="Hall" asp-for="Hall" />
                            <label asp-for="Hall"> </label>
                        </div>
                        <span asp-validation-for="Hall" class="text-danger d-block"></span>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="IsAvailableForRental" />
                        <label class="form-check-label" asp-for="IsAvailableForRental"> </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="mb-5">
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here" asp-for="Description" style="height: 100px"></textarea>
                            <label asp-for="Description"></label>
                        </div>
                        <span asp-validation-for="Description" class="text-danger d-block"></span>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">
                <span class="indicator-label">Save</span>
                <span class="indicator-progress">
                    Please wait...<span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
            </button>

        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}