<div class="modal-footer px-0">
    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-sm btn-primary">Save</button>
</div>