@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="text-center">
    <img src="~/assets/images/no data-rafiki.svg" class="w-475px" alt="Unauthorize">
    <h3 class="text-danger mb-5">You do not have access to this resource.</h3>
</div>
