@model AuthorViewModel
<tr>
    <td>@Model.Name</td>
    <td>
        <span class="badge badge-light-@(Model.IsDeleted ? "danger" : "success") js-status">
            @(Model.IsDeleted ? "Deleted" : "Available")
        </span>
    </td>
    <td>@Model.CreatedOn</td>
    <td class="js-lastupdatedon">@Model.LastUpdatedOn</td>
    <td>
        <div class="btn-group">
            <button class="btn btn-secondary btn-xs btn-hover-rise dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                More
            </button>
            <ul class="dropdown-menu px-1">
                <li><a href="javascript:;" class="dropdown-item js-render-modal" data-title="Edit Author" data-url="/Authors/Edit/@Model.Id" data-update="treu">Edit</a></li>
                <li><a href="javascript:;" class="dropdown-item js-toggle-status" data-url="/Authors/ChangeStatus/@Model.Id">shange status</a></li>
            </ul>
        </div>

    </td>
</tr>
